.icon-remove {
    padding: 2px;
    background: blue;
    color: white;
    
    min-height: 20px;
    text-align: center;
    
    
  }
  
 
 .spanClass{
  background: aliceblue;
  width: 100% important;
  border: 1px solid darkcyan;
  display: block;
  /* height: 12%; */
  /* display: block; */
  /* margin-right: 51px; */
  max-width: 91%;
  max-height: 30px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  }

  .span-container
  {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }

  .check-inline
  {
    display:inline; 
    margin:25px;
  }

  .crossed-line{
    text-decoration: line-through;
  }
  